<mat-card class="card">
  <mat-card-header>

    <div class="box">

      <div class="l">
        <mat-checkbox color="primary" class="checkbox"></mat-checkbox>
        First item
      </div>

      <div class="r">
        <button mat-icon-button aria-label="delete">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </div>

    </div>

  </mat-card-header>
</mat-card>

<mat-card class="card">
  <mat-card-header>

    <div class="box">

      <div class="l">
        <mat-checkbox color="primary" class="checkbox"></mat-checkbox>
        Second item
      </div>

      <div class="r">
        <button mat-icon-button aria-label="delete">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </div>

    </div>

  </mat-card-header>
</mat-card>

<mat-card class="card">
  <mat-card-header>

    <div class="box">

      <div class="l">
        <mat-checkbox color="primary" class="checkbox"></mat-checkbox>
        Third item
      </div>

      <div class="r">
        <button mat-icon-button aria-label="delete">
          <mat-icon color="accent">delete</mat-icon>
        </button>
      </div>

    </div>

  </mat-card-header>
</mat-card>
